<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3KG3SZL4EF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3KG3SZL4EF');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{url_for('static', filename='icons/icon-192x192.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/icon-512x512.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon-192x192.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon-512x512.png')}}" type="image/png">
    <link rel="manifest" href="/static/manifest.json">
    <script>

        if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register("/sw.js").then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
            });
        });
        }

    </script>
    <title>{{ title }}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">Map</a></li>
        </ul>
    </nav>
    <div class="map-container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024, My Travel Weather Map. All rights reserved.</p>
    </footer>
    <script>
        function toggleDropdown() {
            document.getElementById("dropdown-content").classList.toggle("show");
        }
    
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    
</body>
</html>
