{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="city-grid">
            {% for city_weather in cities_weather %}
            <div class="city-container">
                <b>{{ city_weather.city }}</b>
                <div class="cards-container-week">
                    {% for day in city_weather.forecast %}
                    <b>{{ day.day }}</b>
                    <div class="weather-card-week">
                        <img src="{{ day.icon }}" alt="{{ day.description }}" class="weather-icon">
                        <div class="weather-info">
                            <div class="weather-detail">
                                <p>{{ day.temperature | round() }} °C</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
       
{% endblock %}
